<main>
    <div>
        <p class="fw-normal">Carta de crédito - Total: <span class="fw-bolder">{{data.cartaCreditoTotal}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Parcela inicial unitária: <span class="fw-bolder">{{data.parcelaInicialUnitaria}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Valor parcela c/ seguro (R$): <span class="fw-bolder">{{data.valorParcelaComSeguro}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Parcela inicial total: <span class="fw-bolder">{{data.parcelaInicialTotal}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Parcela c/ seguro total: <span class="fw-bolder">{{data.parcelaComSeguroTotal}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Lance recursos próprios - Valor do lance livre: <span class="fw-bolder">{{data.lanceRecursosPropriosValorLanceLivre}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Lance recursos próprios - Valor: <span class="fw-bolder">{{data.lanceRecursosPropriosValor}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Lance embutido - Valor do lance livre (R$): <span class="fw-bolder">{{data.lanceEmbutidoValorLanceLivre}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Lance embutido - Valor: <span class="fw-bolder">{{data.lanceEmbutidoValor}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Lance total: <span class="fw-bolder">{{data.lanceTotal}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Crédito disponível total: <span class="fw-bolder">{{data.creditoDisponivelTotal}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Parcela pós contemplação s/ seguro (R$): <span class="fw-bolder">{{data.parcelaPosContemplacaoSemSeguro}}</span></p>
    </div>
    <div>
        <p class="fw-normal">Parcela total após contemplação: <span class="fw-bolder">{{data.parcelaTotalPosContemplacao}}</span></p>
    </div>
</main>
