<main>
    <div>
        <p>Carta de crédito - Total:<span>{{carta_credito_total}}</span></p>
    </div>
    <div>
        <p>Parcela inicial total:<span>{{parcela_inicial_total}}</span></p>
    </div>
    <div>
        <p>Lance recursos próprios - Valor:<span>{{lance_recursos_proprios_valor}}</span></p>
    </div>
    <div>
        <p>Lance embutido - Valor:<span>{{lance_embutido_valor}}</span></p>
    </div>
    <div>
        <p>Lance total:<span>{{lance_total}}</span></p>
    </div>
    <div>
        <p>Crédito disponível total:<span>{{credito_disponivel_total}}</span></p>
    </div>
    <div>
        <p>Parcela pós contemplação s/ seguro R$:<span>{{parcela_pos_contemp_s_seguro}}</span></p>
    </div>
    <div>
        <p>Parcela pós contemplação c/ seguro R$:<span>{{parcela_pos_contemp_c_seguro}}</span></p>
    </div>
    <div>
        <p>Parcela total pós contemplação:<span>{{parcela_total_pos_contemp}}</span></p>
    </div>
</main>
